.DS_Store
*.a
*.dylib
ignore_folder/
install_manifest.txt
bin/
bin-xcode/
bin-emscripten/
bin-android/
build/
gen/
libs/
obj/
local.properties
# *.so
.vs/
imgui.ini
.c9/

# Cmake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# Executables
*.exe
*.out
*.app

# Local

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
